.App {
  background-color: #cce2e9;
  height: 100vh;
  min-width: 1200px;
}

.AppContainer {
  display: grid;
  grid-template-rows: 100px auto;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.AppContainer header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
}

.AppContainer .body {
  padding: 10px 0;
}
