.App {
  background-color: #d8e5e9;
  height: 100vh;
  display: grid;
  grid-template-columns: 125px auto 125px;
}

.AppContainer {
  display: grid;
  grid-template-rows: 100px auto;
  grid-column: 2/3;
  height: 100%;
}

.AppContainer header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(173, 230, 227);
}

.AppContainer .body {
  padding: 10px 0;
  margin-left: 20px;
  overflow-x: auto;
}
