.Chord ul {
  font-family: "Courier New", Courier, monospace;
}

.Chord .noteInput {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 14px;
  height: 18px;
  display: flex;
  justify-content: center;

  span {
    flex: 1;

    &:hover {
      background-color: #e28f8f;
    }
  }

  input {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 14px;
    margin: 0;
    border: none;

    &:focus {
      outline-width: 1px;
    }
  }
}
