.Chord ul {
  font-family: "Courier New", Courier, monospace;
  padding: 0 2px;
}

.Chord li {
  cursor: pointer;
  text-align: center;
}

.Chord li:hover {
  background-color: #e28f8f;
}

.Chord .staff li:hover {
  cursor: unset;
  background-color: unset;
}
